@import "tailwindcss";

@theme {
  /* Define your Custom Colors */
  --color-navy-900: #020617;
  --color-navy-800: #0f172a;
  
  --color-gold-400: #FBDF9D;
  --color-gold-500: #C5A059;
  --color-gold-600: #A3803F;

  /* Define your Custom Font */
  --font-serif: var(--font-playfair-display), serif;
}

/* Reset the body so it isn't white */
@layer base {
  body {
    @apply bg-navy-900 text-white;
    margin: 0;
    padding: 0;
  }
}
